{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container-fluid text-center py-5 hero">
    <div class="overlay"></div>
    <div class="hero-content mt-5">
        <h1 class="mb-4 fw-bold">Sports & Découvertes</h1>
        <p class="fw-semibold mb-3 px-2">"Réservez vos activités préférées en quelques clics et vivez des moments inoubliables"</p>
        <a href="{{ path('app_reservation_new') }}" class="btn btn-success btn-lg ">Faire une réservation</a>
        
        {% if not app.user %}

        {% endif %}
    </div>
</div>


<div class=" container-fluid text-center features py-5 px-5">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="feature">
               
                <i class=" fa fa-regular fa-thumbs-up fa-2xl"></i>
                <h3 class="pt-3 fs-3">Facile à utiliser</h3>
                <p>Réservez vos activités en toute simplicité avec notre interface intuitive, conçue pour vous offrir une expérience fluide et agréable</p>
                <a href="{{ path('app_reservation_new') }}" class="btn btn-success btn-lg w-50   mt-3">Réservez </a>
            </div>
           
        </div>
        <div class="col-lg-4 mb-4">
            <div class="feature">
               
                <i class="fa fa-regular fa-heart fa-2xl"></i>
                <h3 class="pt-3 fs-3">Variété d'activités</h3>
                <p>Choisissez parmi une large gamme d'activités pour tous les goûts et tous les âges, et vivez des expériences mémorables adaptées à vos envies</p>
                <a href="{{path('app_home')}}#activities" class="btn btn-success btn-lg w-50  mt-3">Activités</a>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="feature">
                
                <i class="fa fa-solid fa-headset fa-2xl"></i>
                <h3 class="pt-3 fs-3">Support 24/7</h3>
                <p>Notre équipe est disponible à tout moment pour vous assister, répondre à toutes vos questions, et garantir une expérience exceptionnelle </p>
                <a href="{{ path('app_contact') }}" class="btn btn-success btn-lg w-50 mt-3">Contact</a>
            </div>
        </div>
    </div>
</div>

<div class="separator"></div>


<div class="container-fluid activities py-4" id="activities">
    <div class="row">
        <div class="h2 text-center mb-4">Activités</div>
        <p class="mx-auto px-4 w-75 mb-5">Chez Sport et Découverte, nous offrons une variété d'activités enrichissantes et divertissantes pour tous les âges et niveaux de compétence. Nos activités comprennent des sessions de coaching bien-être, où les participants peuvent améliorer leur forme physique et mentale à travers des programmes personnalisés. Nous organisons également des découvertes et animations qui permettent à nos clients de s’immerger dans des expériences uniques et passionnantes, telles que la randonnée pédestre, le kayaking, et bien plus encore. Nos activités sont conçues pour offrir à chacun une opportunité de se divertir, de se challenger et de découvrir de nouvelles passions dans un cadre sécurisé et convivial</p>
    </div>
        <div class="row">
        <div class="col-lg-3 ">
            <div class="activity bg-light pb-3 rounded border shadow">
                <img src="{{ asset('images/photos/coaching.jpg') }}" class="img-fluid " alt="Activité 1">
                <h3>Coaching</h3>
                <p>"Transformez votre condition physique avec notre gamme variée de programmes de coaching personnalisés et motivants"</p>
                <a href="{{ path('app_coaching') }}" class="btn btn-primary  mt-2">En savoir plus</a>
            </div>
            
        </div>
        <div class="col-lg-3 ">
            <div class="activity bg-light pb-3 rounded border shadow">
                <img src="{{ asset('images/photos/bienetre.jpg') }}"  class="img-fluid " alt="Activité 2">
                <h3>Bien-être</h3>
                <p>"Découvrez une oasis de sérénité et de revitalisation, où chaque séance est conçue pour enrichir votre
                    équilibre intérieur et votre vitalité"</p>
                    <a href="{{ path('app_bien_etre') }}" class="btn btn-primary  mt-2">En savoir plus</a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="activity bg-light pb-3 rounded border shadow">
                <img src="{{ asset('images/photos/decouvertes.jpg') }}" class="img-fluid " alt="Activité 3">
                <h3>Découvertes</h3>
                <p>"Explorez de nouvelles passions et découvrez des expériences uniques qui enrichiront votre quotidien à travers  des aventures captivantes"
                </p>
                <a href="{{ path('app_decouvertes') }}" class="btn btn-primary  mt-2">En savoir plus</a>
            </div>
        </div>

            <div class="col-lg-3 ">
                <div class="activity bg-light pb-3
             rounded border shadow">
                    <img src="{{ asset('images/photos/animation.jpg') }}" class="img-fluid " alt="Activité 4">
                    <h3>Animations</h3>
                    <p>"Dynamisez vos événements avec notre sélection d'animations captivantes, garantissant des moments
                        mémorables pour tous"</p>
                        <a href="{{ path('app_animations') }}" class="btn btn-primary  mt-2">En savoir plus</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


    {% endblock %}