{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}


<div class="container py-5">
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <form action="post" class="border border-2 rounded p-3 shadow">

                <h1 class="h3 mb-3 font-weight-normal text-center pb-4">Register</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-secondary mt-4">Register</button>
                {{ form_end(registrationForm) }}

            </form>
        </div>
    </div>
</div>
{% endblock %}