{# templates/reservation/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle réservation{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('calculate') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('calculate') }}
{% endblock %}

{% block body %}
<div class="max mx-auto w-50 border shadow my-3 px-3 py-2 rounded mt-3">
    <h1>Créer une nouvelle réservation</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.bookAt) }}
            {{ form_widget(form.bookAt, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.bookAt) }}
        </div>

        <div class="form-group">
            {{ form_label(form.idDiscipline) }}
            {{ form_widget(form.idDiscipline, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.idDiscipline) }}
        </div>

        <div class="form-group">
            {{ form_label(form.nbrPers) }}
            {{ form_widget(form.nbrPers, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nbrPers) }}
        </div>

        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
            {{ form_errors(form.price) }}
        </div>

        <button type="submit" class="btn btn-primary mb-3">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_reservation') }}" class="btn btn-secondary">Retour à la liste</a>
</div>

<script src="{{ asset('js/calculatePrice.js') }}"></script>

{% endblock %}




