<footer>
    <div class="container-fluid border-top p-0">
        <div class="row border-bottom mb-3 bg-body-tertiary">
            <div class="col-lg-6">
                <h3 class="title text-center px-3 py-2 ps-3">Sports & Découvertes</h3>
                
            </div>
            <div class="col-lg-3 px-5 py-2">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                  </form>
                
            </div>
        </div>

        <div class="row gx-0 mb-3 px-2">
            <div class="col-lg-4 ">
                <h5 class="text-center pb-2">Adresse</h5>
                <ul class="list-unstyled text-start px-4">
                    <li class=""><i class="fa-solid fa-location-dot fa-lg p-1"></i><span> Chem. de la Croix des Signaux bis, 83740 La Cadière-d'Azur</span></li>
                    <li class=""><i class="fa-brands fa-whatsapp fa-lg p-1"></i><span> 06 17 35 28 37 </span></li>
                    <li class=""><i class="fa-regular fa-envelope fa-lg p-1"></i><span> sportetdecouverte.info@gmail.com </span></li>
                    
            </div>
            <div class="col-lg-4 ">
                <h5 class="text-center pb-2">Informations</h5>
                <ul class="nav justify-content-center pb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_home')}}">Accueil</a>
                       
                    <li class="nav-item ">
                       
                        <a class="nav-link" href="{{path('app_about')}}">À propos</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_legal')}}">Mention légale</a>
                        

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_faq')}}">FAQ</a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_contact')}}">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="social text-center">
                    <h5 class="text-center pb-2">Suivez-nous</h5>
                    <ul class="list-unstyled d-inline-flex">
                      <li class="fb px-2"><a href="#"><i class='bx bxl-facebook-circle bx-md'></i></a></li>
                      <li class="ig px-2"><a href="#"><i class='bx bxl-instagram-alt bx-md'></i></a></li>
                      <li class="yt px-2"><a href="#"><i class='bx bxl-youtube bx-md' ></i></a></li>
                      <li class="tp px-2"><a href="#"><i class='bx bxl-trip-advisor bx-md'></i></a></li>
                      
                    </ul>
                  </div>
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-lg-12 text-center border-top">
                <div class="copyright">
                    <p class="mb-0"><small>&copy; Sports & Découvertes. All Rights Reserved.</small></p>
                  </div>
            </div>
        </div>
    </div>
</footer>