<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('../images/photos/logo.png') }}">
       
        <!-- <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script> -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('component/menu.html.twig') }}
        {{ include('component/message.html.twig') }}
       
       
      
        {% block body %}{% endblock %}
       

        {{ include('component/footer.html.twig') }}
       
    </body>
</html>
